.feed{
    flex:70%;
    background-color: #1E1E1E;
    width: 100%;
}

.feedWrapper{
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 767px) {
    .feedWrapper {
      width: 100%;
      margin: 0;
      
    }

  .feed {
      margin: 0;
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
      
  }
}