.saved{
    flex:100%;
    background-color: #1E1E1E;

}

.savedWrapper{
    padding: 20px;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {

    .saved {
      flex: 0 0 100%;
    }
  
    .savedWrapper {
      padding: 10px;
    }
  
  }