.homeContainer{
    display: flex;
    width: 100%;
    background-color: #4B0928;
}

.homefeed{
    display: flex;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: none;
    background-color: #1E1E1E;
}

@media only screen and (max-width: 767px) {
    .homeContainer {
      transform: scale(1);
      margin: 0 auto;
      max-width: 1200px;
      display: flex;
      container-type: inline-size;
      
    }
    .homefeed{
      flex-direction: column;
      padding-left: 0px;
      margin: 0 auto;
      padding: 0px;
      padding-right: 14px;
      height: 100%;
    }
  }