.savedContainer{
    display: flex;
    width: 100%;
    background-color: #4B0928;
}

.saved{
    display: flex;
    width: 100%;
    padding: 30px;
    background-color: #1E1E1E;
}

.savedWrapper{
    width: 100%;
}

@media (max-width: 767px) {

    .saved {
      fdisplay:flex;
      height: 100vh;
    }
  
    .savedWrapper {
      padding: 10px;
    }
  
  }
