.fpass {
    width: 100vw;
    height: 100vh;
    background-color: #4B0928;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fpassWrapper {
    width: 75%;
    height: 85%;
    display: flex;
    -webkit-box-shadow: -1px 6px 15px 11px rgba(0,0,0,0.72); 
    box-shadow: -1px 6px 15px 11px rgba(0, 0, 0, 0.5);
    background-color: #4B0928;
  }
  
  .fpassRight {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .fpassLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .fpassBox{
      color: white;
      font-size: 18px;
      height: 100%;
      padding: 20px;
      background-color: #1E1E1E;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content:center;
  }
  
  .fpassInput{
      align-self: center;
      width: 60%;
      height: 40px;
      border-radius: 20px;
      border: 1px solid gray;
      font-size: 18px;
      padding-left: 20px;
      background-color: rgb(255, 255, 255);
  }
  
  .fpassInput:focus{
      outline: none;
  }
  
  .fpassButton{
      height: 40px;
      width: 60%;
      align-self: center;
      border-radius: 20px;
      border: none;
      background-color: #A00034;
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
  }
  
  .fpassButton:focus{
    outline: none;
  }
  
  .fpassButton:disabled{
    cursor: not-allowed;
  }

  .fpassImg{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .fpassBienvenida{
    color: #970131;
    font-weight: bold;
    font-size: 32px;
    align-self: center;
  }

  .fpassForgot{
    font-size: 12px;
    color: grey;
    padding-left: 340px;
    padding-top: 15px;
  }

  .fpassTexto{
    padding-top: 15px;
    padding-left: 120px;
  }

  .fpassLogin{
    font-size: 20px;
    color: grey;
    align-self: center;
    padding-top: 15px;    
  }

  @media only screen and (max-width: 768px) {

    .fpassWrapper {
      flex-direction: column;
      height: 100%;
      width: 100%;
      border-radius: 0;
    }
  
    .fpassLeft {
      display: none;
    }
  
    .fpassRight {
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
      flex: 1.2;
    }
  
    .fpassBox {
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
      padding: 20px;
    }
  
    .fpassImg {
      border-top-left-radius: 0;
      border-bottom-right-radius: 10px;
      width: 100%;
      height: 40%;
    }
  
    .fpassBienvenida {
      font-size: 26px;
      padding-top: 10px;
    }
  
    .fpassForgot {
      font-size: 10px;
      padding-left: 20px;
      padding-top: 5px;
    }
  
    .fpassTexto {
      padding-left: 20px;
      padding-top: 10px;
    }
  
    .fpassLogin {
      font-size: 16px;
      padding-top: 10px;
    }
  
    .fpassInput {
      align-self: center;
      width: 90%;
      height: 30px;
      border-radius: 20px;
      border: 1px solid gray;
      font-size: 14px;
      padding-left: 10px;
      margin-bottom: 10px;
    }
  
    .fpassButton {
      height: 30px;
      width: 90%;
      align-self: center;
      border-radius: 20px;
      border: none;
      font-size: 16px;
    }
  }
  